/*
* create by junyong.hong
* email 125173449@qq.com
* time 2018/4/9
* description
*/
.md-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: auto;
  z-index: 201;
  background-color: white;
  transform: translate(-50%,-50%);
}
.md-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
}
